# Week 2 Part 1 Assignments

1. Understand number and answer the following question.
  1. Assign to 10 and 2 on two variables 'a' and 'b' and perform addition, subtraction, multiplication, division and modulo operation. You should properly print answer during each operation.

In [7]:
a = 10
b = 2

print('a*b = ', (a*b))
print('a+b = ', (a+b))
print('a-b = ', (a-b))
print('a/b = ', (a/b))
print('a%b = ', (a%b))

a*b =  20
a+b =  12
a-b =  8
a/b =  5.0
a%b =  0

2. Write different rules for naming a variable/identifier.

In [0]:
The first character of an identifier should either be an alphabet or underscore('_')
The rest of the identifier name can contain alphabets, numbers or an underscore
Identifier names are case sensitive

3.  Understand string and answer the following question.   
 1. Assign 2 string on two variable and perform concatenation.
 2. Assign a string in a variable and print the reverse of the string.
 3. Assign 'lower' to a variable and convert it to upper case.
 4. Assign 'school of ai' into a variable and split it into individual words
 5. Assign 'school of ai' into a variable and find the starting index  of word 'ai'

In [8]:
s = 'Hello'
y = 'World'
print(s+y)

HelloWorld

In [13]:
r = 'RAM'
print(r[::-1])

MAR

In [14]:
l = 'lower'
print(l.upper())

LOWER

In [17]:
p = 'school of ai'
x,y,z = p.split()
print(x)
print(y)
print(z)

school
of
ai

In [18]:
p.index('ai')

10

4.  Understand list and answer the following question.   
  1. Create a list with values 10,20,30,40 and find its length and sum
  2. Create a list with values 11,22,55. Pop the last element and store it in a variable called 'x'
  3. Create a list with values 10,20,40 and insert 30 in index 2.
  4. Create a list with values 'a','b','c' and remove 'b' from list
  5. Create a list with values 5,'a','b','c',1,5. select values from index 1 to 3 and store it in a variable called 'alpha_list' using slicing.

In [22]:
tex = [10,20,30,40]
print(len(tex))
print(sum(tex))

4
100

In [23]:
v = [11,22,55]
x = v[-1]
x

55

In [24]:
c = [10,20,40]
c[2] = 30
c

[10, 20, 30]

In [26]:
d = ['a', 'b', 'c']
del d[1]
d

['a', 'c']

In [29]:
intial_list = [5,'a','b','c',1,5]
intial_list

[5, 'a', 'b', 'c', 1, 5]

In [30]:
alpha_list = intial_list[1:3]
alpha_list

['a', 'b']

5.  Understand dictionary and answer the following question.   
  1. Create a dict with key '1' and value 'odd', key '2' and value 'even'
  2. Create a dict with key '1' and value 'odd', key '2' and value 'even' .Then replace 'even' of key 2 with 'EVEN'

In [31]:
test_dict = {1: 'odd', 2: 'even'}
test_dict

{1: 'odd', 2: 'even'}

In [32]:
test_dict[2] = 'EVEN'
test_dict

{1: 'odd', 2: 'EVEN'}